
.awesome-blocks-wrapper {
    .countdown-item {
        display: inline-block;
        width: 22.5%;
        text-align: center;
        background: #fafafa;
        margin-right: 30px;
        padding: 30px;
        .number, .text {
            h4, h5 {
                margin: 0;
            }
        }
    }
    .countdown-item:last-child {
        margin-right: 0;
    }
}

.editor-styles-wrapper .wp-block  {
    width: 100%;
} 