/*
* AwesomeBlock CSS For Frontend
* File Description: The main stylesheet of this plugins for main Froentend part.
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

.awesome-blocks-wrapper .countdown-item {
	display: inline-block;
	width: 22.5%;
	text-align: center;
	background: #fafafa;
	margin-right: 30px;
	padding: 30px;
}
.awesome-blocks-wrapper .countdown-item .number h4,
.awesome-blocks-wrapper .countdown-item .text h5{
	margin: 0;
}
.awesome-blocks-wrapper .countdown-item:last-child {
    margin-right: 0;
}
.editor-styles-wrapper .wp-block  {
    width: 100%;
} 