/*********************
BREAKPOINTS (as media queries)
*********************/
/* desktop: min-width: 70em */
/* ipadpro: min-width: 1024px and max-width: 1366px */
/* tablet:  min-width: 768px  and max-width: 1366px */
/* ipad:    min-width: 768px  and max-width: 1023px */
/* mobileonly: max-width: 767px */

.zepblocks-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.zepblocks-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.zepblocks-row .zepblocks-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.zepblocks-row .zepblocks-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.zepblocks-row .zepblocks-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.zepblocks-row .zepblocks-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.zepblocks-row .zepblocks-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.zepblocks-row .zepblocks-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.zepblocks-row .zepblocks-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.zepblocks-row .zepblocks-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.zepblocks-row .zepblocks-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/* mobileonly breakpoint for .zepblocks-col-4 */
@media (max-width: 767px) {
    .zepblocks-row .zepblocks-col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.zepblocks-row .zepblocks-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.zepblocks-row .zepblocks-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.zepblocks-row .zepblocks-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.zepblocks-row .zepblocks-col-71 {
    flex: 0 0 auto;
    width: 14.28%;
}
